In [9]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC  
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [10]:
df=pd.read_csv('clean_anaemia.csv')
df.head()

   Number  %Red Pixel  %Green pixel  %Blue pixel    Hb Anaemic  M
0       1     43.2555       30.8421      25.9025   6.3     Yes  1
1       2     45.6033       28.1900      26.2067  13.5      No  0
2       3     45.0107       28.9677      26.0215  11.7      No  0
3       4     44.5398       28.9899      26.4703  13.5      No  0
4       5     43.2870       30.6972      26.0158  12.4      No  1

In [5]:
df['Anaemic'] = df['Anaemic'].map({'Yes': 1, 'No': 0})

In [6]:
df.head()

   Number  %Red Pixel  %Green pixel  %Blue pixel    Hb  Anaemic  M
0       1     43.2555       30.8421      25.9025   6.3        1  1
1       2     45.6033       28.1900      26.2067  13.5        0  0
2       3     45.0107       28.9677      26.0215  11.7        0  0
3       4     44.5398       28.9899      26.4703  13.5        0  0
4       5     43.2870       30.6972      26.0158  12.4        0  1

In [8]:
x=df.drop(columns=['Anaemic'])
y=df['Anaemic']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [12]:
clf = SVC(kernel='linear') 
clf.fit(x_train,y_train) 
y_pred=clf.predict(x_test)
acc=accuracy_score(y_test,y_pred)
acc

0.90625

In [13]:
np.random.seed(42)

In [33]:
data = np.random.randint(1, 100, size=(10000, 10000))
df = pd.DataFrame(data, columns=[f'feature_{i+1}' for i in range(10000)])
df['target'] = np.random.randint(0, 2, size=(10000,))

In [34]:
df.shape

(10000, 10001)

In [35]:
y=df['target']
x=df.drop(columns=['target'])

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)